@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

$font-Monda: "Monda";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .container {
        width: 100%;
        min-height: 100vh;
        margin: auto;
        background-image: url("../image/bg-purple.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        main {
            width: 100%;
            max-width: 710px;
            border-radius: 48px;
            background-color: rgba(178, 33, 246, 0.09);
            backdrop-filter: blur(14.4px);
            border: 1px solid rgba(255, 255, 255, 0.22);
            padding: 42px 55px;

            .main_header {
                width: 100%;
                max-width: 490px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;

                .main_header_text {
                    text-align: center;

                    h1 {
                        font-family: $font-Monda;
                        font-size: 48px;
                        font-weight: 400;
                        color: white;
                        line-height: 139.6%;
                    }

                    p {
                        font-family: $font-Monda;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 139.6%;
                        color: #fff;
                    }
                }

                .main_header_options {
                    text-align: center;

                    h2 {
                        font-size: 15px;
                        font-weight: 400;
                        font-family: $font-Monda;
                        line-height: 139.6%;
                        color: #fff;
                    }

                    .main_header_options_colorBox {
                        display: flex;
                        width: 100%;
                        max-width: 130px;
                        margin: auto;
                        justify-content: space-between;
                        align-items: center;
                        gap: 34px;
                        margin-top: 11px;

                        .main_header_options_colorBox_item {
                            width: 48px;
                            height: 48px;
                            border-radius: 16px;
                            border: 2px solid rgba(255, 255, 255, 0.22);
                            cursor: pointer;

                            &:first-of-type {
                                background-color: #fff;
                                border-color: #000;
                            }

                            &:last-of-type {
                                background-color: #000;
                                border: 2px solid blue;
                            }
                        }
                    }
                }
            }

            .main_box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                margin-top: 23px;

                .main_box_qrcode {
                    width: 100%;
                    max-width: 300px;
                    max-height: 300px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 18px;
                }

                .main_box_form {
                    width: 100%;
                    max-width: 248px;
                    display: flex;
                    flex-direction: column;
                    padding-top: 54px;

                    label {
                        font-size: 16px;
                        font-family: $font-Monda;
                        font-weight: 400;
                        line-height: 139.6%;
                        color: #fff;
                        padding-left: 12px;

                        &:last-of-type {
                            margin-top: 12px;
                        }
                    }

                    input {
                        margin-top: 6px;
                        width: 100%;
                        max-width: 248px;
                        border-radius: 25px;
                        height: 33px;
                        padding-left: 15px;
                        border: none;
                        background-color: rgba(50, 27, 67, 1);
                        font-size: 16px;
                        font-family: $font-Monda;
                        font-weight: 400;
                        line-height: 139.6%;
                        color: #fff;

                        &::placeholder {
                            color: rgba(255, 255, 255, 0.15);
                        }

                        &[type="file"]{
                            display: none;
                        }
                    }

                    .button {
                        width: 100%;
                        max-width: 152px;
                        display: block;
                        margin: auto;
                        margin-top: 26px;
                        padding: 9px;
                        border-radius: 25px;
                        font-size: 16px;
                        font-family: $font-Monda;
                        font-weight: bold;
                        line-height: 139.6%;
                        color: #fff;
                        background-color: rgba(119, 61, 166, 1);
                        cursor: pointer;
                        transition: all .4s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .button_d {
                        margin-top: 8px;
                        width: 100%;
                        background-color: rgba(119, 61, 166, 1);
                        line-height: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        padding: .25rem .5rem;
                        cursor: pointer;
                        padding-right: 1rem;
                        font-weight: 600;
                        font-size: 14px;
                        font-family: $font-Monda;
                        font-weight: bold;
                        line-height: 139.6%;
                        white-space: nowrap;
                        border-radius: 8px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                }
            }

            .main_btn {
                margin-top: 41px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;

                button {
                    width: 100%;
                    max-width: 300px;
                    display: block;
                    padding: 9px;
                    border-radius: 25px;
                    font-size: 16px;
                    font-family: $font-Monda;
                    font-weight: bold;
                    line-height: 139.6%;
                    color: #fff;
                    background-color: rgba(119, 61, 166, 1);
                    cursor: pointer;
                    transition: all .4s;

                    &:hover{
                        opacity: 0.8;
                    }
                }
                .main_btn_img{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 670px){
    .container{
        padding: 20px;
        align-items: flex-start !important;

        main{
            max-width: 100% !important;
            padding: 22px 25px;

            .main_header{
                flex-direction: column-reverse;
            }
            .main_box{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .main_box_qrcode{
                    padding: 6px;
                    #canvas{
                        svg{
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }
                }
              .main_box_form{
                margin-top:20px;
                max-width: 100% !important;
                padding-top:0 !important ;
                label{
                    padding: 0 !important;
                }
                input{
                    width: 100%;
                    max-width: 100% !important;
                }
                .button{
                    margin-top: 20px !important;
                    max-width: 100% !important;
                }
              }  
            }
            .main_btn{
                button{
                    max-width: 100% !important;
                }
            }
        }
    }
}